.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;
  // margin-top: 8rem;

  // .title {
  //   margin: 10px 0;
  // }
}

@media only screen and (max-width: 900px) {
  .sign-up {
    width: 100%;
  }
}